<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">
            <div class="col-md-4">
                <a href="">
                    <img src="images/logof.png" alt="site-logo" class="img-responsive footer-logo"/>
                </a>
                <div class="social-footer">
                  <li class="nav-item my-10 my-lg-0 mr-sm-2 social-icons">
                    <a class="nav-link" href="#"><i class="fab fa-facebook-square"></i> <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item  my-10 my-lg-0 mr-sm-2 social-icons">
                    <a class="nav-link" href="#"><i class="fab fa-instagram"></i> <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item  my-10 my-lg-0 mr-sm-2 social-icons">
                    <a class="nav-link" href="#"><i class="fab fa-twitter"></i> <span class="sr-only">(current)</span></a>
                  </li>
                </div>  
            </div>
            <div class="col-md-7 col-sm-12">
                <ul class="list-unstyled row row- footer-links-menu">
                  <li>
                    <a href="#!">Home</a>
                  </li>
                  <li>
                    <a href="#!">Guides</a>
                  </li>
                  <li>
                    <a href="#!">Packages</a>
                  </li>
                  <li>
                    <a href="#!">BLogs</a>
                  </li>
                  <li>
                    <a href="#!">Plan My Trip</a>
                  </li>
                  <li>
                    <a href="#!">Contact</a>
                  </li>
                </ul>


              </div>
              <!-- Grid column  -->
              <div class="col-md-12 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase">Footer Content</h5>
                <p>Here you can use rows and columns here to organize your footer content.</p>

              </div>
              <!-- Grid column -->




            </div>
            <!-- Grid row -->

          </div>
          <!-- Footer Links -->
      </div>
  </div>


  </footer>
  <!-- Footer -->
