<nav class="navbar navbar-expand-lg page-header">
  <a class="navbar-brand" href="#">
    <img class = "logo-img img-responsive" src="assets/images/logof.png" alt="site logo"/>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><i class="fab fa-navicon" style="font-size:48px;color:red"></i></span>
  </button>

  <div class="collapse navbar-collapse text-center responsive-head" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ml-10">
      <li class="nav-item active my-10 my-lg-0 mr-sm-2 ">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active my-10 my-lg-0 mr-sm-2">
        <a class="nav-link" href="#">Guides <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active my-10 my-lg-0 mr-sm-2">
        <a class="nav-link" href="#">Packages <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item my-10 my-lg-0 mr-sm-2">
        <a class="nav-link" href="#">Blogs</a>
      </li>
      <li class="nav-item active my-10 my-lg-0 mr-sm-2">
        <a class="nav-link" href="#">Plan My trip <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item my-10 my-lg-0 mr-sm-2">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <li class="nav-item my-10 my-lg-0 mr-sm-2 social-icons">
      <a class="nav-link" href="#"><i class="fab fa-facebook-square"></i> <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item  my-10 my-lg-0 mr-sm-2 social-icons">
      <a class="nav-link" href="#"><i class="fab fa-instagram"></i> <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item  my-10 my-lg-0 mr-sm-2 social-icons">
      <a class="nav-link" href="#"><i class="fab fa-twitter"></i> <span class="sr-only">(current)</span></a>
    </li>
  </div>
</nav>
